<div class="d-flex align-items-center justify-content-between">
  <h1>Twitter Accounts</h1>
  <%= link_to "Connect a Twitter account", "/auth/twitter", method: :post, class: "btn btn-primary" %>
</div>

<%= @twitter_accounts.each do |acc| %>
  <div class="d-flex align-items-center mb-4">
    <%= image_tag acc.image, class: "rounded-circle" %>
    <%= link_to "@#{acc.username}", "https://twitter.com/#{acc.username}", target: "_blank" %>
  </div>

  <%= button_to "Disconnect", acc, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>