<h1>Sign Up</h1>
<%= form_with model: @user, url: signup_path do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :email%>
    <%= form.email_field :email, class: "form-control", placeholder: "johndoe@example.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>
  <div>
    <%= form.submit "Get Started", class: "btn btn-primary" %>
  </div>
<% end %>