<h1>Edit Password</h1>
<%= form_with model: Current.user, url: edit_password_path do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-dange">
      <%= form.object.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :current_password %>
    <%= form.password_field :current_password, class: "form-control mt-2", placeholder: "current password" %>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control mt-2", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control mt-2", placeholder: "password" %>
  </div>
  <div>
    <%= form.submit "Update Password", class: "btn btn-primary" %>
  </div>
<% end %>